.row {
    margin-bottom: 30px;

}

h2 {
    margin: 0 0 0 30px; 
}

.movieArea {
    overflow-x: hidden;
}

.movieList {
    transition: all ease 0.5s;
}

.movie {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.movie img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.movie img:hover {
    transform: scale(1);
}

.left, .right {
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s ;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.row:hover .left, .row:hover .right {
    opacity: 1;
}

@media (max-width: 760px) {
    .left, .right {
        opacity: 1;
    }
}